@import "tailwindcss" source(none) prefix(comm) important;

@source "../views/";
@source "../../src";

@custom-variant dark (&:where(.dark, .dark *));

[x-cloak] {
    display: none;
}

.tiptap {
    @apply comm:text-sm comm:leading-normal;
}

.tiptap p.is-editor-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap .mention {
    @apply comm:bg-gray-200 comm:rounded comm:px-1 comm:py-0.5 comm:font-bold comm:text-blue-500;
}

.mention-suggestion {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.mention-item {
    padding: 5px 10px;
    cursor: pointer;
}

.mention-item:hover {
    @apply comm:bg-gray-100;
}
